* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

.top-hero {
    position: relative;
    height: 200px;
    background-size: cover;
    z-index: 0;
}

.top-hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3.6rem;
    text-transform: uppercase;
}

/* nawigacja */
nav {
    font-size: 2rem;
    text-transform: uppercase;
}

.navbar-toggler {
    font-size: 3rem;
}

.navbar-brand {
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: none;
}

/* header */
header {
    font-size: 2rem;
}

.carousel-item {
    position: relative;
    height: 400px;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.carousel-img-one {
    background-image: url('../assets/img/guitar_1_small.jpg');
}
.carousel-img-two {
    background-image: url('../assets/img/guitar_2_small.jpg');
}
.carousel-img-three {
    background-image: url('../assets/img/guitar_3_small.jpg');
}

@media (min-width: 1400px) {
    .carousel-item {
        height: 600px;
    }

    .carousel-img-one {
        background-image: url('../assets/img/guitar_1_big.jpg');
    }
    .carousel-img-two {
        background-image: url('../assets/img/guitar_2_big.jpg');
    }
    .carousel-img-three {
        background-image: url('../assets/img/guitar_3_big.jpg');
    }
}

/* main */
.aboutus {
    padding: 5em 0;
}

.aboutus-box i {
    font-size: 4rem;
}

.aboutus-box h3 {
    font-size: 2.6rem;
}

.passion {
    position: relative;
    height: 400px;
    background: url(../assets/img/main_photo.jpg) center/cover;
    z-index: 0;
}

.home-brand h3 {
    font-size: 3rem;
    font-weight: bold;
}

img {
    height: 400px;
    width: 400px;
}

footer {
    font-size: 1.6rem;
}

/* about us */
.aboutus-hero {
    background-image: url('../assets/img/about/about_hero.jpg');
    background-position: bottom;
}

.aboutus-info .container {
    padding: 2em 0.5em;
}

.title {
    text-decoration: underline rgb(0, 204, 255);
    font-weight: bold;
}

.aboutus-text {
    padding: 1.8em;
}

.aboutus-text-right {
    text-align: right;
}

@media (min-width: 1400px) {
    .aboutus-info .container {
        padding: 0;
    }

    .aboutus-shadow {
        box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, .4);
    }

    .aboutus-text {
        padding: 5em 0;
        transform: skew(-15deg)
    }
    .aboutus-text-left {
        padding-right: 2em;
        text-align: right;
    }
    .aboutus-text-right {
        padding-left: 2em;
        text-align: right;
    }
    .aboutus-img {
        height: auto;
        transform: skew(-15deg)
    }
}

.cards-box {
    width: 400px;
}

.cards i {
    font-size: 40px;
}

/* services */

.services-hero {
    background: url('../assets/img/services/services_hero.jpg') center/cover;
}

.services-building {
    background: url('../assets/img/services/services_1.jpg') center/cover;
    height: 300px
}
.services-service {
    background: url('../assets/img/services/services_2.jpg') center/cover;
    height: 300px
}
.services-painting {
    background: url('../assets/img/services/services_3.jpg') center/cover;
    height: 300px
}
.services-second-life {
    background: url('../assets/img/services/services_4.jpg') center/cover;
    height: 300px
}

.service-hero-box {
    position: relative;
    z-index: 0;
}
