* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

/* nawigacja */
nav {
    font-size: 2rem;
    text-transform: uppercase;
}

.navbar-toggler {
    font-size: 3rem;
}

.navbar-brand {
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: none;
}

/* header */

header {
    font-size: 2rem;
}

.carousel-item {
    position: relative;
    height: 400px;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.carousel-img-one {
    background-image: url('../assets/img/guitar_1_small.jpg');
}
.carousel-img-two {
    background-image: url('../assets/img/guitar_2_small.jpg');
}
.carousel-img-three {
    background-image: url('../assets/img/guitar_3_small.jpg');
}

@media (min-width: 1400px) {
    .carousel-item {
        height: 600px;
    }

    .carousel-img-one {
        background-image: url('../assets/img/guitar_1_big.jpg');
    }
    .carousel-img-two {
        background-image: url('../assets/img/guitar_2_big.jpg');
    }
    .carousel-img-three {
        background-image: url('../assets/img/guitar_3_big.jpg');
    }
}

/* main */

.aboutus {
    padding: 5em 0;
}

.aboutus-box i {
    font-size: 4rem;
}

.aboutus-box h3 {
    font-size: 2.6rem;
}

.passion {
    position: relative;
    height: 400px;
    background: url(../assets/img/main_photo.jpg) center/cover;
    z-index: 0;
}


.home-brand h3 {
    font-size: 3rem;
    font-weight: bold;
}

img {
    height: 400px;
    width: 400px;
}